body {
    background-color: #d13535;
    margin: 0;
    font-family: Arial, sans-serif;
}

.editor-container {
    background-color: rgb(89, 183, 137);
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.editor {
    flex: 1;
    height: 200px;
    border: 1px solid #a91414;
    padding: 10px;
    white-space: pre-wrap;
    overflow: auto;
}

button {
    background-color: blueviolet;
    color: #141514;
    margin-bottom: 10px;
}

.output {
    color: rgb(14, 12, 12);
    margin-top: 20px;
}

iframe {
    background-color: #2f8888;
    width: 100%;
    height: 300px;
    border: 1px solid #ccc;
}
